html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*Nav Bar*/
header{
  z-index: 1000;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 5px 8%;
  font-family: "Poppins";
  backdrop-filter: blur(2rem);
  position: fixed;
  background-color: black;
}

header h1{
   color: white;
   font-family:  "Major Mono Display", monospace;
}

.menu{
  display: flex;
}

.menu a{
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-transform: capitalize;
  padding: 1rem 2rem;
  font-weight: 400;
}

.menu a:hover{
  text-decoration: underline;
}

#icon{
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

#icon:hover input{
  width: 100px;
}

#icon input{
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

#icon a.bx-search{
  color: rgb(0, 0, 0);
  font-size: 18px;
  z-index: 999;
}

.dropdown{
  display: flex;
  list-style: none;
  width: 10rem;
  position: absolute;
  justify-content: center;
  padding: 0.4rem 0.5rem;
  z-index: 999;
  background: rgb(0, 0, 0);
  display: none;
}

ul li a:hover{
  color: rgb(56, 101, 246);
}

@media(max-width:800px){
  #kepala .nodrop{
    display: none;
  }
  #kepala .drop:hover .dropdown{
    display: block;
  }
  #kepala #icon{
    padding: 5px 10px;
  }
}

@media(max-width:640px){
  #kepala .nodrop{
    display: none;
  }
  #kepala .drop:hover .dropdown{
    display: block;
  }
  #kepala #icon{
    padding: 5px 10px;
  }
}



/*Section 1*/

#section1{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/IMAGES/assets\ \(4\).png") no-repeat;
  background-size: cover;
  height: 100vh;
}

#section1 label.intro{
  color: rgba(255, 255, 255, 0.9);
  font-size: 3rem;
  font-family:  "Major Mono Display", monospace;
  margin-left: 4rem;
}

#section1 .btn1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17rem;
  margin-left: -33rem;
  width: 10rem;
  height: 4rem;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 0;
  border-radius: 2rem;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 1rem;
}

#section1 .btn1::after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  left: 0;
  border-radius: 2rem;
}

#section1 .btn1::before{
  content: "";
  background: linear-gradient(
    45deg, #37c2f0,#f25c54,#84e296,#ffc759,#78ffd6
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  filter: blur(14px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  opacity: 1;
}

@keyframes glowing{
  0%{background-position: 0 0;}
  50%{background-position:  400% 0;}
  100%{background-position: 0 0;}
}

.btn1:hover::before{
  display: block;
}

.btn1:active::after{
  background: transparent;
}

.btn1:active{
  color: black;
}

@media(max-width: 800px){
  #section1 .intro > h4{
    display: none;
  }
  #section1{
    background: url("/IMAGES/assets\ \(4\).png") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  #section1 .btn1{  
    margin-left: -23rem;
  }
}

@media(max-width: 450px){
  #section1 .intro > h1{
    flex-direction: colum;
  }
}

/* #section1 nav button:hover{
  background-color: white;
  color: black;
  transition: linear;
} */

/* Section 2 */

#section2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-size: cover;
  height: 100vh;
  color: white;
  font-size: 1.3rem;
  font-family: "poppins";
}

#section2 .btn2{
  margin-top: 2rem;
  gap: 1rem;
  font-size: 1rem;
  width: 7rem;
  height: 3rem;
  border: solid 2px white;
  border-radius: 2rem;
  background: transparent;
  color: white;
  cursor: pointer;
}

#section2 .desc .abt-desc{
  max-width: 900px;
}

#section2 .btn3{
  margin-top: 2rem;
  font-size: 1rem;
  width: 7rem;
  height: 3rem;
  border: solid 2px white;
  border-radius: 2rem;
  background: transparent;
  color: white;
  cursor: pointer;
}

#section2 .btn2:hover{
  background-color: white;
  color: black;
  transition: linear .3s;
}

#section2 .btn3:hover{
  background-color: white;
  color: black;
  transition: linear .3s;
}

/* Section 3 */

#section3{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
  color: rgb(0, 0, 0);
  font-family: "poppins";
  gap: 2rem;
}

#section3 .sqtittle h1{
  color: black;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 5rem;
}

#section3 .team{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

#section3 .team img{
  margin-left: 0.8rem;
  margin-top: 1rem;
}

#section3 .card{
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  align-items: flex-end;
  box-shadow: 0 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
}

#section3 .card:hover{
  transform: translateY(20px);
}

#section3 .card::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

#section3 .card:hover::before{
  opacity: 1;
}

#section3 .card img{
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
}

#section3 .card .intro{
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

#section3 .card:hover .intro{
  opacity: 1;
  transform: translateY(0px);
}

#section3 .card .intro h1{
  margin: 0;
}

#section3 .card:hover .intro p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

#section3 .card .intro .btn4{
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  color: black;
}

#section3 .card .intro .btn4:hover{
  box-shadow: 0 7px 10px rgba(0,0,0,0.5);
}

@media(max-width: 1200px){
  #section3{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    height: 240vh;
  }
}

@media(max-width: 640px){
  #section3 .card{
    flex-direction: column;
    justify-content: center;
  }
}

/* Section 4 Gallery */
#section4{
  background-color: black;
  color: white;
}

#section4 .gallery-tittle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Poppins";
}

#section4 .pict img {
	width: 100%;
  aspect-ratio: 1;
	object-fit: cover;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#section4 .pict {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 1;
  margin-top: 4rem;
}

/* Section 5 Footer */

#section5{
  background: #425888;
  padding-block: 5rem;
  color: white;
  font-family: "poppins";
  font-weight: 300;
}

#section5 .social img{
  width: 4rem;
  height: 4rem;
  margin-left: 2rem;
}

#section5 .social{
  display: flex;
  gap: 0.2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

#section5 .content{
	display: flex;
  gap: 2rem 1rem;
  justify-content: space-between;
  margin-top: 2rem;
  padding-bottom: 2 rem;
  flex-wrap: wrap;
}

#section5 .content .left {
	max-width: 600px;
  margin-left: 2rem;
}

#section5 .content .break {
  margin-top: 2rem;
}

#section5 .content .right {
  margin-right: 2rem;
}

#section5 .copyright{
  padding-top: 2rem;
	margin-top: 1rem;
	border-top: 1px solid #ccc;
	font-weight: 500;
	font-size: 0.9rem;
}

#section5 .copyright p{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1200px){
  #section5 .social img{
    display: flex;
    flex-direction: column;
  }
  #section5 .right{
    margin-left: 2rem;
  }
}